header {
	display: flex;
	justify-content: space-around;
	height: 5rem;
	font-size: 2rem;
	align-items: center;
	div{
		font-family: 'Dancing Script', cursive;
		font-weight: 900;
		color: #425966;;
		span {
			color: #d84b4b;
		}
	}
	ul {
		display: flex;
		list-style: none;
		font-size: 1.2rem;
		display: none;
		li {
			margin-left: 1rem;
			color: #425966;
			font-family: 'Roboto', sans-serif;
		}
	}
	img {
		height: 3rem;
	}
}

@media (min-width: 900px) {
	header {
		font-size: 4rem;
		ul {
			display: flex;
		}
		img {
			display: none;
		}
	}
}